{%extends "layout.html"%}
{%block Main%}
    <div class="content-section">
        <h1>Welcome to our application</h1>
        <form method="POST" action="">
            <!--For errors watch the tutorial-->
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.email.label(class="form-control-label")}}
                    {{form.email(class="form-control form-control-lg", id="email")}}
                </div>
                <div class="form-group">
                    {{form.password.label(class="form-control-label")}}
                    {{form.password(class="form-control form-control-lg", id="password")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    <audio controls autoplay hidden id="Hello">
    <source src="static/audio/hello.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
    <audio controls id="Email" hidden>
        <source src="static/audio/sign_in1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <audio controls id="Password" hidden>
        <source src="static/audio/sign_in2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
{%endblock%}


{%block Script%}
<script>
    audio1=document.getElementById("Hello");
    audio2=document.getElementById("Email");
    audio3=document.getElementById("Password");
    audio1.onended=function(){
        audio2.play();
    }
    audio2.onended=function(){
        startDictation("email", function(){
            audio3.play();
        });
    };

    audio3.onended=function(){
        startDictation("password", function(){
            console.log("Logging in.")
        })
    };

    function startDictation(id, callback) {
        if (window.hasOwnProperty('webkitSpeechRecognition')) {
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = "en-US";
            //recognition.lang = "tr-TR";
            recognition.start();

            recognition.onresult = function(e) {
                hold= e.results[0][0].transcript;
                hold=hold.toLowerCase()
                index=hold.indexOf("uppercase")
                while(index!=-1){
                    console.log(hold)
                    hold=hold.slice(0,index)+(hold[index+10]).toUpperCase()+hold.slice(index+11)
                    index=hold.indexOf("uppercase")
                }
                hold=hold.replace(" at ", "@")
                hold=hold.replace("underscore", "_")
                hold=hold.replace(/\s/g, "")
                document.getElementById(id).value=hold;
                //recognition.stop();
                callback();
            };
            
            recognition.onerror = function(e) {
                recognition.stop();
                callback();
            }
        }
    }
</script>
{%endblock%}